:root {
	--bold-weight: 700;
}

.markdown-source-view,
.markdown-preview-view,
.markdown-rendered {
	font-weight: 400;
	font-family: "Inter Complete", "Segoe UI", "Roboto", sans-serif;
}

.markdown-source-view ::marker,
.markdown-preview-view ::marker {
	color: var(--text-normal);
}
