@import url("fonts/inter/font.css");

:root {
	--bold-weight: 700;
}

.markdown-source-view,
.markdown-preview-view {
	font-family: 'Inter Complete', 'Segoe UI', sans-serif;
}

.markdown-source-view ::marker,
.markdown-preview-view ::marker {
	color: var(--text-normal);
}
