:root {
	--bold-weight: 700;
}

.markdown-preview-view,
.markdown-rendered {
	font-family: "Inter Complete", "Segoe UI", "Roboto", sans-serif;
}

.markdown-preview-view ::marker,
.markdown-rendered ::marked {
	color: var(--text-normal);
}
